.score {
  font-size: 16px;
}
button {
  border: 0;
  outline: none;
}
div {
  outline: none;
}
.noti-title {
    font-size: 36px;
    font-weight: 600
}
.noti {
  display: flex;
  height: 80vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.img img{
    width: 400px;
    height: 400px;
}
.button-go-home {
  border-radius: 8px;
  background: #5f45ea;
  color: white;
}