.view-bank-detail-container {
  display: flex;
}

.path div {
  font-family: PoppinsLight;
  font-size: 16px;
  color: blue;
  cursor: pointer;
}

button {
  outline: none;
  border: 0;
  color: white;
}

div {
  outline: none;
}

.list-test {
  width: 90%;
  background-color: white;

  background: #FFFFFF;
  box-shadow: 0px 0px 70px -30px #C4C4C4;
  border-radius: 8px;
  margin: 0 auto;
}

.list-test-container {
  height: 95%;
}

.list-test-title {
  font-family: PoppinsLight;
  font-style: normal;
  font-size: 16px;
  font-weight: 600;
  line-height: 48px;
  display: flex;
}

.button__generate-test {
  width: 24px;
  height: 24px;

  border-radius: 50%;
  margin-left: 30px;

  text-align: center;

  background: #5F45EA;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
  box-shadow: 0px 0px 70px 5px #c4c4c4
}

.test-card {
  margin: 0 auto;
  cursor: pointer;
  display: flex;
  height: 71px;

  background: #FFFFFF;
  border-bottom: 1px solid lightgrey
}
.test-card:hover {
  /* box-shadow: inset 0 1px 1px rgb(0 0 0 / 1%), 0 0 8px rgb(34 139 230 / 50%); */
  border-bottom: 2px solid rgb(34 139 230 / 50%);
}
.test-card-title {
  /* flex-basis: 200px; */
  display: flex;
  align-items: center;
  font-family: PoppinsBlack;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;

  color: #000000;
}


.test-card-detail {
  flex-basis: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: PoppinsBlack;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
}

.test-card-detail {
  color: #bbc0c1;
  font-style: italic;
}
.test-card-copy {
  display: flex;
  justify-content: center;
  align-items: center;
  float: right; 
  position: relative;
}

.test-card-copy button {

  flex-basis: 100px;

  font-family: PoppinsBlack;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  background-color: #fff;

  color: rgba(0, 0, 0, .3)
}

.test-card-copy button:hover {
  color: #0F993E;
}
.test-card-copy:hover .detail-copy-content {
  display: inline-block;
  background-color: white;
  box-shadow: 0 0 0.1875rem 0 rgb(0 0 0 / 50%);

}
.endTestCard {
  border: 0;
}
.detail-copy-content {
  display: none;
  position: absolute;
  right: -6vw;
  font-size: 12px;
}
@media screen and (max-width: 601px) {

  .test-card-title,
  .test-card-detail {
    font-size: 12px;
  }

  .list-test-title {
    font-size: 16px;
  }

}
