* {
  font-family: PoppinsLight;
  font-size: 32px;
}

.result-container {
  margin-left: 100px;
  width: 617px;
  height: 100px;
  padding: 8px 32px;
  background: #FFFFFF;
  box-shadow: 0px 0px 70px -30px #C4C4C4;
  margin-bottom: 20px;
  border-radius: 32px;

  display: flex;
  justify-content: space-between;
}

.title {
  font-family: PoppinsBlack;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 54px;
  /* identical to box height */


  color: #2D2D2D;
}
tr {
  display: flex;
}
th {
  font-size: 16px;
  flex-basis: 50px;
  font-weight: 600;
}

.result {
  font-size: 16px;
  line-height: 54px;
  flex-basis: 400px;
}

.quesNumber {
  color: #759AF1
}

.title-col {
  font-size: 16px;
  flex-basis: 300px;
  cursor: pointer;
}

.question-col {
  font-size: 16px;
  flex-basis: 300px;
}

.score-col {
  font-size: 16px;
  font-weight: 600;
  flex-basis: 200px;
}

.time-col {
  font-size: 16px;

  flex-basis: 400px;
}
