<div style="display: flex">
  <app-nav-bar [changeNavBar]="'true'" [levelName]="'dashboard'" [bankId]="bankId || linkId"></app-nav-bar>

  <div *ngIf="!isFetched && !results">
    <app-loader></app-loader>
  </div>
  <div *ngIf="isFetched && !results">
    <div class="path">
      <a routerLink="/bank/view">Yours</a> > <a routerLink="/bank/view/{{bankId}}">{{results.title}}</a> > Questions
    </div>
  </div>
  <div *ngIf="results" class="component-container">

    <app-bar-chart-bank [results]="results.results" [bankName]="results.title" class="chart">
    </app-bar-chart-bank>

  </div>

</div>
