<div class="create-question-container">
  <form [formGroup]="questionForm">
    <div formArrayName="answers">

      <div *ngFor="let answer of answersFormGroup; let i = index">
        <div [formGroup]="answer">
          <div class="tab" style="display: flex; flex-direction: row; width: 100%">
            <div style="display: flex; justify-content: center; align-items: center;">
              <input type="checkbox" formControlName="isTrue" *ngIf="!hideButton">
            </div>
            <div style="width:100%">
              <input type="text" formControlName="title">
            </div>
            <div style="text-align: right; display: flex;
            justify-content: center;
            align-items: center;" *ngIf="!hideButton">
              <span (click)="removeAnswer(i, $event)">
                <i style="cursor: pointer" class="far fa-trash-alt"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button (click)="addAnswer()" class="button__add-answer" style="padding:0" *ngIf="!hideButton">+ Add answer</button>
    <br>
    <button *ngIf="answers.length < 2 && !hideButton" class="button__not-done mt-3">Add</button>
    <button type="submit" *ngIf="answers.length >=2 && !hideButton" (click)="onSubmit()"
      class="button__done mt-3">Add</button>
  </form>
</div>
