* {
  font-family: PoppinsLight;
}

button {
  outline: none;
  border: 0;
  color: white;
}
div:focus {
  outline: none;
}
.nav-bar {
  background-color: #032349;
  border-radius: 0px;
  color: white;
  width: 4vw;
  top: 8vh;
  height: 92vh;
  position: fixed;
}

.setting-icon {
  padding: 5px 10px;
  cursor: pointer;
}

.dropdown-logout {
  position: absolute;
  top: 15;
  left: 15;
  width: 180px;
  color: black;
  background-color: #fff;
  border: 1px solid gray;
}

.option {
  padding: 4px 16px;
}

.dropdown-logout div:hover {
  background-color: #5F45EA;
  color: white;
}

.avatar-container {
  text-align: center;
  padding-top: 20px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name-container {
  position: relative;
  text-align: center;
}

.name {
  margin-top: 20px;
  margin-bottom: 20px;

  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 44px;
  /* identical to box height */
  /* color: #2D2D2D; */
}

.route-container {
  cursor: pointer;
  text-align: left;
  font-style: normal;
}

.selected {
  background-color: #5F45EA;
  color: white;
}

.feature-drop {
  text-align: left;
  margin: 0 auto;
}

.feature-drop div {
}

.feature {
  margin-left: 20px;
  font-size: 14px;
  padding: 10px 0;
}

.spi-feature {
  cursor: pointer;
  margin-bottom: .5rem
}

.levelSelected {
  background: rgba(95, 69, 234, .5)
}
.expand-bar {
  font-size: 2em;
  cursor: pointer
}
.img-icon {
  font-size: 20px;
  color: white;
  text-align: center;
}
.img-icon-2 {
  font-size: 16px;
}
.line-footer {
  border-bottom: 2px solid gray
}
.detail-icon {
  display: none
}
.img-icon:hover .detail-icon {
  display: inline-block;
  position: absolute;
  background: white;
  color: black;
  font-size: 12px;
  left: 4.5vw;
  width: 5vw;
  border-radius: 4px;
  padding: 0;
  box-shadow: 0 0 0.1875rem 0 rgb(0 0 0 / 50%);
}