@font-face {
  font-family: PoppinsLight;
  src: url('../../../../../assets/fonts/Poppins-Light.ttf');
}

@font-face {
  font-family: PoppinsBlack;
  src: url('../../../../../assets/fonts/Poppins-Medium.ttf');

}

.container {
  /* background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18); */
}

.bar {
  margin-top: 30px;
  font-family: PoppinsBlack;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;

  display: flex;
  justify-content: space-between;

}

.bar__logo {
  width: 64px;
  height: 64px;
}

.bar__button {
  background: #5F45EA;
  /* border-radius: 32px; */
  border-radius: 21% 79% 42% 58% / 52% 73% 27% 48%;
  border: 0;
  outline: none;

  color: #f8f8f8;
  font-family: PoppinsLight;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;

  width: 137px;
  height: 54px;
}

.slogan {
  font-family: PoppinsBlack;
  font-style: normal;
  font-weight: 600;
  font-size: 68px;
  line-height: 102px;
}

.main-div-login,
.main-div-register {
  display: flex;
  justify-content: space-between;
}

.main-div-login {
  margin-top: 5rem;
}

.image__dot-1 {
  position: absolute;
  width: 22px;
  height: 22px;

  top: 30px;
}

.image__dot-2 {
  position: absolute;
  width: 12px;
  height: 22px;

  top: 200px;
  right: 300px;
}

.image__vector-1 {
  position: absolute;
  width: 31.12px;
  height: 31.5px;

  top: 300px;
  right: 700px;
}

.image__landing-page {
  width: 600px;
  height: 500px;
  /*  */
}

.image__elipse-1 {
  position: absolute;
  width: 405px;
  height: 405px;
  left: 1004px;
  top: 423px;

  z-index: -1;
  border-radius: 50%;
}
