<div class="view-bank-container">
  <app-nav-bar></app-nav-bar>
  <div class="view-bank component-container">
    <div style="display: flex;padding: 0" class="container mt-3">
      <app-search-bank (eventSearchResults)="receiveSearchBanks($event)"></app-search-bank>
    </div>


    <div *ngIf="banks.length === 0 && !isFetched">
      <app-loader></app-loader>
    </div>
    <div class="container" *ngIf="banks.length === 0 && isFetched" style="margin-top: 20px">
      <div class="row">
        <div class="col-md-3 mb-3">
          <div class="bank create-div" (click)="goToCreate()">
            <div ><i class="fas fa-plus"></i> <br>New bank</div>
          </div>
        </div>
      </div>
    </div>

    <div class="list-banks container" *ngIf="banks.length > 0">
      <div class="row">
        <div class="col-md-3 mb-3" *ngIf="!hidePagination">
          <div class="bank create-div" (click)="goToCreate()">
            <div ><i class="fas fa-plus"></i> <br>New bank</div>
          </div>
        </div>

        <div *ngFor="let bank of banks; let i = index" class="col-md-3 mb-4">
          <div class="bank" >
            <div style="text-align: right; padding: 0px 8px; position: relative">
              <span style="cursor: pointer" (click)="changeStateDropdown(i, $event)"><i id="{{i}}"
                  class="fas fa-ellipsis-h"></i>
              </span>
            </div>
            <div *ngIf="showDropdown && i === indexDropdown" class="dropdown-config">
              <div class="item" (click)="changeShowModalDelete(bank._id)"><i class="far fa-minus-square"></i> Remove
              </div>
              <div class="item" (click)="goToBankDetail(bank._id)"> <i class="far fa-eye"></i> View</div>
            </div>
            <div class="bank-title">
              <div>
                <div style="text-align: center; cursor: pointer" (click)="goToBankDetail(bank._id)">{{bank.title}}</div>
                <div style="display: flex">
                  <div class="test-number">
                    {{bank.idTests.length| count:"test"}}&nbsp;
                  </div>
                  <div class="question-number">
                    - {{bank.idQuestions.length| count:"question"}}
                  </div>
                </div>

              </div>

            </div>

          </div>
        </div>

      </div>

      <app-modal-delete [bankId]="idToDelete" [showModalDelete]="showModalDelete"
        (emitShowModal)="changeShowModalDelete($event)"></app-modal-delete>
    </div>
    <app-pagination *ngIf="pages != 0 && !hidePagination" [goRoute]="'/bank/view'" [pageNumber]="pages"
      (changePageEvent)="getBanks($event)" [currentPage]="currentPage.toString()"></app-pagination>

  </div>
