body,
input {
  background-color: #F3f6f9;

  font-size: 16px;
}

a {
  text-decoration: none;
  color: black;

}

a:hover {
  color: black;
  text-decoration: none;
}

.pagination {
  align-items: center;
  display: flex;
  justify-content: center;
}

.path {
  font-family: PoppinsBlack !important;

  font-style: normal;
  font-size: 16px;
  line-height: 42px;
}

.data-board {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 20px 20px;
}



.component-container {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 5%;
  margin-top: 8vh;
  margin-left: 4vw;
  padding: 2.5rem;
}

.search-input {
  width: 300px;
  height: 38px;
  border: 0;
  outline: none;
  font-size: 16px;
  padding: 8px 16px;
  background: #FFFFFF;
  box-shadow: 0px 0px 70px -30px #C4C4C4;
  border-radius: 4px;
}

.search-input:focus {
  border-color: #4dabf7;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 1%), 0 0 8px rgb(34 139 230 / 50%);
}

.blur-container {
  position: relative;

}

.blur {
  height: 30vh;
  filter: blur(8px);
  background: rgba(0, 0, 0, .05)
}

.text-in-blur {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  text-align: center
}

.blur-div {
  width: 90%;
  height: 100vh;
  opacity: .5;
  top: 80%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, .4);
  /* -webkit-filter: blur(2px); */
  /* filter: blur(2px); */
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;
}

.blur-div span {
  color: black;
  font-size: 36px;
  font-weight: 600
}

@media screen and (max-width: 601px) {
  .search-input {
    width: 150px;
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 12px;
  }
}
