.view-question-detail-container {
  display: flex;
}

form {
  font-family: PoppinsLight;
}

input {
  border: 0;
  outline: none;
  background: #fff;
}

button {
  border: 0;
  outline: none;
}

.deleted input {
  text-decoration: line-through
}

.deleted {
  text-decoration: line-through
}

.form-question {
  height: 100%;
  padding: 10px 30px;
  background: #FFFFFF;
  box-shadow: 0px 0px 70px -30px #C4C4C4;
  border-radius: 8px;
  position: relative;
  margin: 0 auto;
}

.form-answers {
  font-size: 20px;
}

input[type="text"] {
  width: 100%;
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
}

.question__title {
  width: 100%;
  background: #fff;
  padding: 0px 0px;
}
.question__title label {
  font-family: PoppinsBlack;
}
.question__title input {
  width: 527px;
}

.question__title label {
  margin-right: 20px;
  font-size: 16px;
}

label[for="level"] {
  font-family: PoppinsBlack;
  font-size: 16px;
}

button[type="submit"] {
  border-radius: 8px;

  background-color: #0F993E;
  color: #fff;
}

.button__delete {
  position: absolute;
  bottom:20px;
  right: 20px;
  color: #ff000080;
  background-color: #fff;
  cursor: pointer;
}
.button__delete:hover {
  color: red;
  font-weight: 400
}
.add-answer {
  font-size: 16px;
  color: #548d9f;
  cursor: pointer;
}