.result-with-user-container {
    display: flex;
}
div {
    outline: none;
}
.table {
    background: #fff
}
.name-col {
    font-weight: 500;
}
.score-col {
    font-weight: 500;
}
.table tbody th,td{
    font-size: 20px
}
.table thead th{
    font-size: 24px!important;
}
td,th {
    text-align: center;
    
}
thead {
    background: #fff
}
.mode {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 0 auto;
}